@import "tailwindcss";

:root {
  --bg: #ffedc7;
  --text-h: #08060d;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  background: var(--bg);
  font: 18px/145% var(--sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.aurora {
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at 10% 20%, #ff0080, transparent 40%),
              radial-gradient(circle at 90% 80%, #00f0ff, transparent 40%),
              radial-gradient(circle at 50% 50%, #8000ff, transparent 40%);
  filter: blur(100px);
  animation: moveAurora 15s ease-in-out infinite;
}

@keyframes moveAurora {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-25%, -25%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.confete {
  position: absolute;
  width: 8px;
  height: 12px;
  background-color: red;
  top: -10px;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(720deg);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-container {
  animation: shake 0.5s; 
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}